* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #333;
	color: #fff;
}

.logo img {
	height: 50px;
}

nav {
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-right: 20px;
}

.menu li {
	margin: 0 10px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
	.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.menu-active {
    transform: translateX(0%);
}

.burger.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.active .line2 {
    opacity: 0;
}

.burger.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

